// Colours

$colorNutbeg: #854632;
$colorRaspberry: #7b284f;

$colorWhite: #ffffff;
$colorRoseWhite: #fff5fa;
$colorEggshell: #f3e6d8;
$colorLightGrey: #e4ded8;
$colorBrown: #5f574e;
$colorCharcoal: #302d2c;

// Fonts Family
$fontFamilyBody: "Outfit", sans-serif;
$fontFamilyHeadings: "Young Serif", serif;
